<div>
  apr
</div>
<div>
  <%= @apr_formatted %>
</div>

<div>
  Number of years
</div>
<div>
  <%= @years %>
</div>

<div>
  principal
</div>
<div>
  <%= @principal %>
</div>

<div>
  Payment
</div>
<div>
  <%= @monthly_payment_formatted %>
</div>
