<h1>Payment results</h1>

<form action="/payment_results/results">
  <div>
    <label for="apr">
      APR
    </label>
    <input id="apr" type="text" name="rate" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years">
      Number of years
    </label>
    <input id="years" type="text" name="years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="principal">
      Principal
    </label>
    <input id="principal" type="text" name="principal" placeholder="What number do you want to take the square root of?">
  </div>
  <button>Calculate monthly payment</button>
</form>
