<div>
  apr
</div>
<div>
  <%= @apr %>
</div>

<div>
  Number of years
</div>
<div>
  <%= @years %>
</div>

<div>
  principal
</div>
<div>
  <%= @principal %>
</div>

<div>
  Payment-test
</div>
<div>
  <%= @monthly_payment %>
</div>
