<h1>Random Calculation</h1>

<form action="/random_results/results">
  <div>
    <label for="minimum">
      Minimum
    </label>
    <input id="minimum" type="text" name="min" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for="maximum">
      Maximum
    </label>
    <input id="maximum" type="text" name="max" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>

</form>
