<h1>Square a number</h1>

<form action="/square/results">
  <div>
    <label for="number">
      Enter a number
    </label>
    <input id="number" type="text" name="user_num" placeholder="What number do you want to square">
  </div>
  <button>Calculate square</button>
</form>
