<h1>Square root a number</h1>

<form action="/square_root/results">
  <div>
    <label for="number">
      Enter a number
    </label>
    <input id="number" type="text" name="user_num" placeholder="What number do you want to take the square root of?">
  </div>
  <button>Calculate square root</button>
</form>
