<h1>Square a number</h1>

<form action="/square/results">
  <div>
    <label>
      Enter a number
    </label>
    <input type="text" name="user_num">
  </div>
  <button>Calculate square</button>
</form>
